{{!< layout}}

 <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js">
  </script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.25.0/babel.min.js"></script>
  <script src="http://cdn.date-fns.org/VERSION/date_fns.min.js"></script>
  
  <div id="loader"></div>

  <div class="blur_content">
    <header id="page-header"></header>

    <div class="page-panel main-panel">
      <section id="page-search-panel"></section>
    </div>



  </div>

  <script type="text/babel">

  const link = document.getElementById('downloadlink');
  const header = document.getElementById("page-header");
  const searchForm = document.getElementById("page-search-panel");

  class Header extends React.Component{
    render(){
      return <h1 class='h1'>Issues Plugin</h1>;
    }
  }

  const Loading = () => (
    <div class="load">
      <div class="letter-holder">
        <div class="l-1 letter">L</div>
        <div class="l-2 letter">o</div>
        <div class="l-3 letter">a</div>
        <div class="l-4 letter">d</div>
        <div class="l-5 letter">i</div>
        <div class="l-6 letter">n</div>
        <div class="l-7 letter">g</div>
        <div class="l-8 letter">&nbsp;</div>
        <div class="l-9 letter">D</div>
        <div class="l-10 letter">A</div>
        <div class="l-11 letter">T</div>
        <div class="l-12 letter">A</div>
        <div class="l-13 letter">.</div>
        <div class="l-14 letter">.</div>
        <div class="l-15 letter">.</div>
      </div>
    </div>
  );
    
  class SearchForm extends React.Component {
   constructor(props){
        super(props);
        this.state = {
          inputJQL: ``,
          link: ``,
          loading: false,
          data: { issues: [], errors: [] }
        };

        this.onChange = this.onChange.bind(this);
        this.onJqlSubmit = this.onJqlSubmit.bind(this);
    }


    onChange(e){
        this.setState({
          inputJQL: e.target.value,
        });
    }
    
    onJqlSubmit(e){
      
      let searchInput = this.state.inputJQL;
      console.log(searchInput);
      if(!searchInput){

        alert(`Please input JQL Query.`);

      }else{
          this.setState({ loading: true }, () => {
            fetch(`/addonData?&jwt={{token}}&search=${encodeURIComponent(searchInput)}`,{ method: "GET", headers: {"Content-Type": "application/json"} })
              .then(  
                response => {

                console.log("response is complited");
                this.setState({loading: false});

                return response.json(); 
              })
              .then(
                ({ errors, issues }) => ({ 
                  errors, 
                  issues: issues.map(i => Object.assign({}, i, { 
                    dateCreatedIssue: new Date(i.dateCreatedIssue),
                    histories: i.histories.map(h => Object.assign({}, h, { date: new Date(h.date) }))
                  })) 
                })
              )
              .then( 
                data => {

                  console.log("data is complited", data);

                  this.setState({ data });

                  const dataFile = new Blob([JSON.stringify(data, null, 4)], { type: 'application/json' });

                  this.setState({link: window.URL.createObjectURL(dataFile)});
                  
                  
                });
          });
        
      }
        e.preventDefault(); 
    }

    render(){
      const contentTable = this.state.data.issues.map(i => {
        return (
          <tbody>
            {
              i.histories.map((h, hi) =>
                h.history.filter(s => s.field === 'status').map(s => {
                  const spentMs = hi 
                    ? (h.date.getTime() - i.histories[hi - 1].date.getTime()) 
                    : (h.date.getTime() - i.dateCreatedIssue.getTime());

                  return(
                    <tr>
                      <td>{i.issueId}</td>
                      <td>{i.nameIssue}</td>
                      <td>{h.date.toLocaleString()}</td>
                      <td>{s.fromString}</td>
                      <td>{s.toString}</td>
                      <td>{(spentMs / 3600000).toFixed(4)}</td>
                    </tr>
                  );
                })
              )
            }
          </tbody>
        );
      });

      if(this.state.loading) {
        return(
          <Loading />
        );
      } else {
        return(
          <div>
            <form onSubmit={this.onJqlSubmit} class="form-search">
              <input class="inputSearch" type="text" value={this.state.inputJQL} onChange={this.onChange} autocomplete="off" id="searchInput" name="searchInput" placeholder="Input Jql query" autofocus />
              <button type="submit" id="buttonSearch" class="button"><i class="fas fa-search"></i> Search</button>
              { this.state.link ? <a class="a_download" id="downloadlink" href={this.state.link} download="list_issue.json"> <i class="fas fa-cloud-download-alt"></i>Dowload JSON</a> : null} 
            </form>

            <div class="result_search">
              <div class="result_content_errors">{this.state.data.errors}</div>
              <div class="result_content_issues">
                <table id="listIssues">
                  <tr>
                    <th>Id issue</th>
                    <th>Name issue</th>
                    <th>Date to change status </th>
                    <th>From status</th>
                    <th>To status</th>
                    <th>Time spent </th>
                  </tr>
                  {contentTable}
                </table>
              </div> 
            </div>
          </div>
        );
      }
      
    }
  }


  ReactDOM.render( <Header /> , header);
  ReactDOM.render( <SearchForm /> , searchForm);

</script>